Package: com.noahsaso.quickimages
Name: QuickImages
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Text image shortcuts in Messages
Maintainer: Noah Saso <noahsaso@gmail.com>
Author: Noah Saso <noahsaso@gmail.com>
Section: Tweaks
Depiction: http://repo.noahsaso.com/deps.php?pkg=com.noahsaso.quickimages
